body {
	background-color: $bg-color;
	color: $color;
	font-size: $font-size;
	font-family: $font-family;
}

.wrapper {
	max-width: $max-width;
	width: 100%;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: $header-height;
	background-color: $header-bgc;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 10px;

	.logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 60px;
		text-decoration: none;

		&-img {
			width: auto;
			height: 60px;
		}

		&-title {
			margin-left: 20px;

			&-name {
				font-family: 'NewBaskervilleCTT', arial;
				font-size: 2em;
				font-weight: 300;
				color: #fff;
				line-height: 1;
				margin: 0 0 5px 0;
			}

			&-desc {
				line-height: 1;
				margin: 0;
				color: #ebf4ff;
				font-size: 0.8em;
			}
		}
	}
}

.content {
	margin: 40px 0;

	.filter {
		display: flex;
		flex-direction: row;
		margin: 0 10px;

		&-item {
			margin-right: 20px;

			&-link {
				text-decoration: none;
				text-transform: uppercase;
				color: #9fa2a8;
				font-weight: 600;
				line-height: 2;
				transition: 0.4s color;
				
				&:hover {
					color: #242526;
					transition: 0.4s color;
				}

				&.active {
					color: #242526;
					display: flex;
					flex-direction: column;

					&:after {
						content: '';
						border-bottom: 3px solid #242526;
					}
				}


			}
		}
	}
}