@mixin breakpoint($lists...) {
	$media: only screen;

	@each $list in $lists {
		@if length($list) == 1 {
			$media: append($media, "and (max-width: #{$list})");
		} @else if length($list) == 2 {
			@if nth($list, 1) == max {
				$media: append($media, "and (max-width: #{nth($list, 2)})");
			} @else {
				$media: append($media, "and (min-width: #{nth($list, 2)})");
			}
		} @else {
			@error 'Too many arguments set for breakpoint';
		}
	}

	@media #{$media} {
		@content;
	}
}

@mixin on($list) {
	@include breakpoint($list) {
		@content;
	}
}

body {
	background-color: $bg-color;
	color: $color;
	font-size: $font-size;
	font-family: $font-family;
	overflow-x: hidden;
	min-width: 300px;

	&.popups {
		overflow: hidden;

		&:before {
			content: '';
			background-color: rgba(0,0,0,.8);
			z-index: 100;
			min-width: 100%;
			height: 100%;
			display: block;
			position: fixed;
		}
	}
}

.wrapper {
	max-width: $max-width;
	width: 100%;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: $header-height;
	background-color: $header-bgc;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 10px;
	transition: 0.4s background-color;
	
	&.header-hover {
		background-color: #22539d;
		transition: 0.4s background-color;
	}

	.logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 60px;
		text-decoration: none;
		max-width: 300px;


		&-img {
			width: auto;
			height: 60px;
		}

		&-title {
			margin-left: 20px;

			&-name {
				font-family: 'NewBaskervilleCTT', arial;
				font-size: 2em;
				font-weight: 300;
				color: #fff;
				line-height: 1;
				margin: 0 0 5px 0;
			}

			&-desc {
				line-height: 1;
				margin: 0;
				color: #ebf4ff;
				font-size: 0.8em;
			}
		}
	}
}

.content {
	margin: 40px 0;

	.filter {
		display: flex;
		flex-direction: row;
		margin: 0 10px;
		flex-wrap: wrap;

		&-item {


			&-link {
				text-decoration: none;
				text-transform: uppercase;
				color: #9fa2a8;
				font-weight: 600;
				line-height: 2;
				transition: 0.4s color;
				margin-right: 20px;
				cursor: pointer;
				
				&:hover {
					color: #242526;
					transition: 0.4s color;
				}

				&.active {
					color: #242526;
					display: flex;
					flex-direction: column;

					&:after {
						content: '';
						border-bottom: 3px solid #242526;
					}
				}
			}
		}
	}

	.country {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0;

		&-items {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			flex: 1 50%;

			&-full {
				flex: 1 100%;

				@include on(410px) {
					flex-direction: column;
					flex-wrap: nowrap;
				}

				.country-item {

					@include on(1276px) {
						flex: 1 0 20%;
					}

					@include on(1000px) {
						flex: 1 20%;
					}


					@include on(600px) {
						flex: 1 45%;
					}

					@include on(410px) {
						flex: 1 100%;
						max-width: 384px;
					}

					@include on(380px) {
						flex: 1 100%;
						max-width: 355px;
					}

					@include on(360px) {
						max-width: 340px;
					}

					@include on(350px) {
						max-width: 330px;
					}

					@include on(340px) {
						max-width: 310px;
					}

					@include on(320px) {
						max-width: 290px;
					}
				}
			}

			&-big-size {
				background-image: url('../img/big.jpg');
				background-repeat: no-repeat;
				background-position: 0px -200px;
				flex: 1 48%;
				margin: 10px;
				position: relative;

				@include on(1000px) {
					background-size: cover;
				}

				@include on(420px) {
					background-position: 0px -100px;
				}
				@include on(360px) {
					background-position: 0;
				}


				&:before {
					content: '';
					background-color: rgba(0,0,0, 0.3);
					min-width: 100%;
					min-height: 100%;
					z-index: 1;
					position: absolute;
				}

				.country-item-title {
					position: relative;
					top: auto;
					left: auto;
					transform: translate(0);
					margin: 90px 40px 0;
					font-size: 2.5em;
					z-index: 3;
					color: #fff;

					@include on(420px) {
						margin: 20px 20px 0;
					}
				}

				.country-item-list {
					z-index: 3;
					position: relative;
					color: #fff;
					margin: 20px 50px 0;
					font-family: 'NewBaskervilleCTT', arial;
					font-size: 1.5em;
					line-height: 2;
				}
			}
		}

		&-item {
			max-width: 300px;
			width: 100% !important;
			height: auto;
			margin: 10px;
			background-color: $color;
			color: #fff;
			position: relative;
			transition: all 0.4s;
			flex: 1 45%;

			@include on(1000px) {
				flex: 1 20%;
			}

			@include on(700px) {
				flex: 1 45%;
				max-width: 315px;
			}
			@include on(410px) {
				flex: 1 100%;
				max-width: 384px;
			}

			@include on(380px) {
				flex: 1 100%;
				max-width: 355px;
			}

			@include on(360px) {
				max-width: 340px;
			}

			@include on(350px) {
				max-width: 330px;
			}

			@include on(340px) {
				max-width: 310px;
			}

			@include on(320px) {
				max-width: 290px;
			}

			&.not-filter {
				transform: scale(0.6);
				opacity: 0.4;
				transition: all 0.4s;

				button {
					display: none;
				}
			}

			& > div {
				height: 100%;

				& > div {
					height: 100%;
				}
			}

			&-img {
				width: 100%;
				height: auto;
				z-index: 1;
			}
			&-title {
				position: relative;
				z-index: 2;
				font-family: 'NewBaskervilleCTT', arial;
				font-size: 2em;
				font-weight: 300;

				@include on(820px) {
					font-size: 1.6em;
				}
			}

			&-slide {
				position: relative;
				min-width: 100%;
				min-height: 100%;
				background-size: cover;
				display: flex;
				justify-content: center;
				align-items: center;

				&:before {
					content: '';
					background-color: rgba(0,0,0, 0.4);
					min-width: 100%;
					min-height: 100%;
					z-index: 2;
					position: absolute;
				}

				&.slide-next {
					background-color: #313336;

					&:before {
						background-color: transparent;
					}

					.country-item-title {
						position: absolute;
						left: 20px;
						bottom: 0;
						top: auto;
						font-size: 1.5em;
						transform: translate(0);
					}

					.country-item-desc {
						padding: 40px 20px;
						margin: 0;
						-webkit-margin-after: 2em;
					}

					.country-item-zoom, .country-item-play {
						width: 40px;
						height: 40px;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						z-index: 3;
						cursor: pointer;
					}
				}
			}

			button {
				background-color: transparent;
				background-repeat: no-repeat;
				opacity: 0.4;
				width: 20px;
				height: 20px;
				border: none;
				bottom: 20px;
				cursor: pointer;
				transition: .4s opacity;

				&.prev-button {
					position: absolute;
					right: 50px;
					background-image: url('../img/prev_slide.svg');
				}

				&.next-button {
					position: absolute;
					right: 20px;
					background-image: url('../img/next_slide.svg');
				}

				&:hover {
					opacity: .8;
					transition: .4s opacity;
				}
			}
		}
	}
}

.footer {
	height: 60px;
	width: 100%;
	background: #282a2d;
	display: flex;
	align-items: center;

	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}
	.copyright {
		margin: 0 10px;
		color: #6b7076;
		font-family: 'NewBaskervilleCTT', arial;
	}

	.author {
		margin: 0 10px;
		font-family: $font-family;
		color: #6b7076;

		span {
			color: #b5b9be;
		}
	}
}

.popup {
	display: none;

	&-image {
		&.open-popup {
			display: block;
		}
	}

	&-video {

		&.open-popup {
			display: block;
		}
	}

	.button-close {
		background: url('../img/icon_close.svg') no-repeat;
		width: 40px;
		height: 40px;
		z-index: 101;
		position: absolute;
		right: -50px;
		top: -50px;
		opacity: 0.5;
		transition: 0.4 opacity;
		cursor: pointer;

		&:hover {
			opacity: 1;
			transition: 0.4 opacity;
		}
	}

	&-wrapper {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 102;
	}


	.image, .video {
		width: 100%;
		height: 100%;

		img, video {
			width: 100%;
			height: auto;

		}
	}

}